<h1>Inzeráty</h1>

<%= link_to "Pridať inzerát", new_ad_path %>

<% @ads.each do |ad| %>
  <div class='box'>
    <%= link_to image_tag('arrow_right.png', class: 'open-icon'), ad_path(ad) %>
    <h3><%= ad.title %></h3>
    <p><%= ad.description %></p>
    <p><em>Pridane: <%= l ad.created_at, format: :short %></em></p>
  </div>
<% end %>
