<h1><%= @ad.title %></h1>

<div class='box'>
  <h3><%= @ad.title %></h3>
  <p><%= @ad.description %></p>
  <p><em>Pridane: <%= l @ad.created_at, format: :short %></em></p>
</div>

<p>
  <%= link_to "Vrátiť sa naspäť", ads_path %>
</p>

<h3>Kontaktovat inzerenta</h3>
<%= form_tag action: 'contact' do %>
  <%= hidden_field_tag :ad_id, @ad.id %>
  <p>
    <%= label_tag :message %><br>
    <%= text_area_tag :message, nil, size: '60x3' %>
  </p>

  <%= submit_tag "Odoslať správu" %>
<% end %>